.tech-bg-container {
    background-image: linear-gradient(to bottom, #ffffff, #05f2e6);
    /* filter: brightness(95%); */
	background-size: cover;
    min-height: 100vh;
	height: fit-content;
    max-width:100vw;
    padding-left: 320px;

}

.table {
    width : 100%;
    border : 1px solid #323f4b;
}

.ratings {
    height : 35px;
    margin-top : 3px;
    border : 1px solid #323f4b;
    border-radius: 3px;
}

.fields {
    color:black;
}